<div id="<%= dom_id membership %>">
  <p>
    <strong>Active:</strong>
    <%= membership.active %>
  </p>

  <p>
    <strong>Started on:</strong>
    <%= membership.started_on %>
  </p>

  <p>
    <strong>Expires on:</strong>
    <%= membership.expires_on %>
  </p>

  <p>
    <strong>User:</strong>
    <%= membership.user_id %>
  </p>

</div>
