<div id="<%= dom_id borrowing %>">

  <p>
    <strong>Game:</strong>
    <%= borrowing.game.name %>
  </p>
  <p>
    <strong>User:</strong>
    <%= borrowing.user.fullname %>
  </p>
  <p>
    <strong>Starts on:</strong>
    <%= borrowing.starts_on %>
  </p>

  <p>
    <strong>Expires on:</strong>
    <%= borrowing.expires_on %>
  </p>

</div>
