<div id="<%= dom_id borrowing %>">

  <p>
    <strong>Game:</strong>
    <%= borrowing.game.name %> |
    <%= borrowing.game.description %>
  </p>
  <p>
    <strong>Started on:</strong>
    <%= borrowing.starts_on %>
  </p>

  <p>
    <strong>Expired on:</strong>
    <%= borrowing.expires_on %>
  </p>

</div>
