<%= form_with(model: borrowing) do |form| %>
  <% if borrowing.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(borrowing.errors.count, "error") %> prohibited this borrowing from being saved:</h2>

      <ul>
        <% borrowing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :game_id, style: "display: block" %>
    <%= form.select :game_id, Game.all.map{|s| [s.name,s.id]} %>
  </div>
  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.select :user_id, User.all.map{|s| [s.fullname,s.id]} %>
  </div>
  <div>
    <%= form.label :starts_on, style: "display: block" %>
    <%= form.date_field :starts_on %>
  </div>

  <div>
    <%= form.label :expires_on, style: "display: block" %>
    <%= form.date_field :expires_on %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
