<div id="<%= dom_id game %>">
  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= game.description %>
  </p>

  <p>
    <strong>Min number of players:</strong>
    <%= game.min_players %>
  </p>
  
  <p>
    <strong>Max number of players:</strong>
    <%= game.max_players %>
  </p>
  
  <p>
    <strong>Language:</strong>
    <%= game.language %>
  </p>

  <p>
    <strong>Min age:</strong>
    <%= game.min_age %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= game.brand %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= game.stock %>
  </p>

</div>
